@charset "UTF-8";

* {
	margin: auto 0;
}

.zhuce {
	position: absolute;
	top: 23%;
	left: 45%;
}

.biaodan {
	position: absolute;
	top: 30%;
	left: 33%;
	width: 400px;
	height: 320px;
	border: 2px solid #33ccff;
	background: #aaffee;
}

.text {
	background: #009fcc;
	width: 150px;
	height: 25px;
}

.button {
	background: #33ccff;
	color: #000000;
	width: 70px;
	height: 30px;
	font-size: 16px;
}

.button1 {
	position: relative;
	text-align: center;
	top: 120px;
}

.anniu {
	background: #27a2e6;
	color: #ffffff;
	height: 30px;
	width: 70px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
}

.text1 {
	width: 400px;
	height: 25px;
	padding-left: 90px;
}

.ziti {
	color: red;
	display: none;
}

.text2 {
	width: 400px;
	height: 25px;
	padding-left: 160px;
}